$fixed-top-height: 91px;
$app-header-bg: #31618c;
$app-header-height: 50px;
$page-header-height: 40px;
$border-color: #ccc;
$breadcrumb-height: 0px;
$card_border_color: #b7b7b7;
$left-panel-width: 250px;
$left-menu-bg: #2d2f33;
$help-width: 300px;
$detailed-help-width: 600px;
$help-top: 100px;
$gray: #ddd;
$grey_a: #aaa;
$search-form-height: 62px;
$skyblue: #0098eb;
$table-bg: #ffffff;
$table-head-height: 45px;
$table-head-bg: #2e3840;
$table-row-height: 40px;
$table-head-color: white;
$table-text-color: #747474;
$table-text-font: 14px;

