body{
  color: #333333;
}

main{
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  &>section{
    padding: 15px;
    background: rgba(255, 255, 255, 0.6);
    height: 100%;
  }
}

.container{
  @media (min-width: 1440px) {
    width: 1400px;
  }
}

